<div>
	<div>
		<h1>Booket</h1>
		<h2>keep track of your books</h2>
		<hr>
		<h3>Users</h3>
		<a href="users/index">View users!</a>
		<br>
		<a href="users/new">Add user!</a>
		<hr>
		<h3>Books</h3>
		<a href="books/index">View books!</a>
		<br>
		<a href="books/new">Add book!</a>
		<hr>
		<h3>Catalog</h3>
		<a href="catalog/index">View catalog!</a>
		<br>
		<a href="catalog/new">Add catalog item!</a>
		<hr>
		<h3>Transactions</h3>
		<a href="transactions/index">View transactions!</a>
		<br>
		<a href="transactions/new">Add transaction!</a>
	</div>
</div>